{% extends "base.html" %}

{% block content %}

<h2 style="text-align: center">Works log</h2>
{% set text = 'Action #' %}
<ul>
    {% for job, in_dict in json.items() %}
    <div>
    <h3>{{ text }} {{ loop.index }}</h3>
    </div>
    <table class="table table-bordered">
  <thead>
    <tr class="table-secondary">
      <th scope="col">Title of activity</th>
      <th scope="col">Team leader</th>
      <th scope="col">Duration</th>
      <th scope="col">List of collaborators</th>
      <th scope="col">Is finished</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ in_dict['name'] }}</th>
      <td>{{ in_dict['leader'] }}</td>
      <td>{{ in_dict['duration'] }}</td>
      <td>{{ in_dict['collaborators'] }}</td>
      <td class="table-warning">{% if in_dict['finished'] == True %} Is finished {% else %} Is not Finished {% endif %}</td>
    </tr>
  </tbody>
</table>
    {% if current_user.is_authenticated and ((current_user.id == job.team_leader) or (current_user.id == 1)) %}
    <div>
        <a href="/edit_job/{{ job.id }}" class="btn btn-warning" style="margin-bottom: 50px">
            Изменить
        </a>
        <a href="/job_delete/{{ job.id }}" class="btn btn-danger" style="margin-bottom: 50px">
            Удалить
        </a>
    </div>
    {% endif %}
    {% endfor %}
</ul>
{% if current_user.is_authenticated %}
    <a href="addjob" class="btn btn-secondary">Добавить работу</a>
{% endif %}

{% endblock %}